.card {
  grid-column: span 4;
  box-shadow: 0 10px 20px rgba(#7e76f9, 0.1);
  border-radius: 35px;
  padding: 20px 30px;
  margin-bottom: 110px;
  background-color: #fff;

  @media (max-width: 768px) {
    grid-column: span 6;
    margin-bottom: 60px;
  }

  @media (max-width: 425px) {
    grid-column: 1 / 13;
    margin-bottom: 30px;
  }
}

.p {
  margin-bottom: 50px;
}

.icon {
  text-align: center;
}

.action {
  text-align: right;
}
