.title {
  grid-column: 1 / 13;
  margin-bottom: 60px;

  h2,
  h3 {
    text-align: center;
  }

  @media (max-width: 425px) {
    margin-bottom: 20px;
  }
}

.section {
  padding: 40px 0 150px;
  background-color: rgba(#7e76f9, 0.15);

  @media (max-width: 425px) {
    margin-bottom: 40px;
  }
}
